:root {
    /* font size */
    --fs-sm: 12px;
    --fs-md: 16px;
    --fs-mmd: 20px;
    --fs-lg: 25px;
    --fs-llg: 31px;
    --fs-xl: 39px;
    --fs-xxl: 48px;
    /* font color */
    --fc-white: #ffffff;
    --fc-regular-black: #000000;
    --fc-primary-black: #00000066;
    --fc-black: #373737;
    --fc-light-orange: #fff7f4;
    --fc-orange: #ff5300;
    --fc-primary-orange: #0000001A;
    --fc-secondary-orange: #FF530066;
    --fc-gray: #7b7b7b;
    --fc-primary-gray: #00000066;
    --fc-blue: #00acff;
    --fc-primary-blue: #00C2FF66;
}

@media(min-width:576px) {
    .ideas {
        --fs-lg: 31px;
    }

    .heading2 {
        --fs-lg: 31px;
    }

    .heading1 {
        --fs-llg: 39px;
    }

    .drop {
        --fs-mmd: 25px;
    }

    .mail {
        --fs-lg: 31px;
    }

    .support {
        --fs-md: 19px;
    }

    .toll {
        --fs-md: 19px;
    }

    .messageus {
        --fs-lg: 31px;
    }

    .message {
        --fs-lg: 31px;
    }
}

@media(min-width:768px) {
    .heading1 {
        --fs-llg: 48px;
    }

    .support {
        --fs-md: 20px;
    }

    .toll {
        --fs-md: 20px;
    }
}

@media(min-width:992px) {
    .ideas {
        --fs-lg: 39px;
    }

    .heading2 {
        --fs-lg: 39px;
    }
}