@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style-type: none !important;
    scroll-behavior: smooth;
    /* outline: 1px solid red; */
}

.container {
    max-width: 1320px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.digiency {
    color: var(--fc-orange);
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-xl);
    font-weight: 600;
    line-height: 25px;
}

.ency {
    color: var(--fc-black);
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-xl);
    font-weight: 600;
    line-height: 25px;
}

.home {
    color: var(--fc-black);
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-mmd);
    font-weight: 400;
    line-height: 24px;
}

.home:hover {
    color: var(--fc-orange);
}

.navbg {
    box-shadow: 0px 1px 10px 0px var(--fc-primary-orange);
}

.padding26 {
    padding-top: 26px;
    padding-bottom: 26px;
}

/* ==========================================herosection==================================== */
.bgcolor {
    background-color: var(--fc-light-orange);
}

.heading1 {
    color: var(--fc-black);
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-llg);
    font-weight: 700;
    line-height: 59px;
}

.digital {
    color: var(--fc-orange);
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-llg);
    font-weight: 700;
    line-height: 59px;
}

.paragraph {
    color: var(--fc-gray);
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-md);
    font-weight: 400;
    line-height: 24px;
}

.py11 {
    padding-top: 11px;
    padding-bottom: 50px;
}

.btncontact {
    color: var(--fc-white);
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-mmd);
    font-weight: 500;
    line-height: 25px;
    border: none;
    background-color: var(--fc-orange);
    padding: 13px 22px 12px 19px;
    border-radius: 5px;
    box-shadow: 4px 5px 15px 0px var(--fc-secondary-orange);
    transition: 200ms linear;
}

.btncontact:hover {
    box-shadow: 5px 8px 27px 10px var(--fc-secondary-orange);
}

.paddingy {
    padding-top: 153px;
    padding-bottom: 153px;
}

.svg {
    position: absolute;
    top: 50%;
    right: -41px;
    transform: translateY(-50%);
    transition: all 300ms linear;
}

.icon {
    overflow: hidden;
}

.icon:hover .svg {
    right: 0;
}

/* ==================================about us====================================== */
.py120 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.about {
    color: var(--fc-gray);
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-md);
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 25px;
}

.heading2 {
    color: var(--fc-black);
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-lg);
    font-weight: 600;
    line-height: 48px;
}

.ideas {
    color: var(--fc-orange);
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-lg);
    font-weight: 600;
    line-height: 48px;
}

.circlered {
    width: 70px;
    height: 70px;
    background: var(--fc-orange);
    border-radius: 50%;
    box-shadow: 4px 5px 15px 0px var(--fc-secondary-orange);
    transition: 200ms linear;
}

.circlegray {
    width: 70px;
    height: 70px;
    background: var(--fc-gray);
    border-radius: 50%;
    box-shadow: 4px 5px 15px 0px var(--fc-primary-gray);
    transition: 200ms linear;
}

.circleblue {
    width: 70px;
    height: 70px;
    background: var(--fc-blue);
    border-radius: 50%;
    box-shadow: 4px 5px 15px 0px var(--fc-primary-blue);
    transition: 200ms linear;
}

.circleblack {
    width: 70px;
    height: 70px;
    background: var(--fc-black);
    border-radius: 50%;
    box-shadow: 4px 5px 15px 0px var(--fc-primary-black);
    transition: 200ms linear;
}

.cardtext {
    color: var(--fc-black);
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-md);
    font-weight: 400;
    line-height: 24px;
    padding-top: 36px;
    text-align: center;
}

.squarecard {
    box-shadow: 0px 1px 10px 0px var(--fc-primary-orange);
    padding: 25px 33px 21px 31px;
    height: 100%;
    transition: 200ms linear;
}

.squarecard:hover {
    box-shadow: 5px 5px 20px 7px var(--fc-primary-orange);
}

.squarecard:hover .circlered {
    box-shadow: 0px 0px 20px 10px var(--fc-secondary-orange);
}

.squarecard:hover .circlegray {
    box-shadow: 0px 0px 20px 10px var(--fc-primary-gray);
}

.squarecard:hover .circleblue {
    box-shadow: 0px 0px 20px 10px var(--fc-primary-blue);
}

.squarecard:hover .circleblack {
    box-shadow: 0px 0px 20px 10px var(--fc-primary-black);
}

.mt25 {
    margin-top: 25px;
}

.paddingtop {
    padding-top: 60px;
}

/* ====================================Our Expereince================================== */
.number {
    color: var(--fc-black);
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-xxl);
    font-weight: 700;
    line-height: 59px;
}

.global {
    color: var(--fc-gray);
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-mmd);
    font-weight: 500;
    line-height: 25px;
    padding-top: 18px;
}

.cardbox {
    box-shadow: 0px 1px 10px 0px var(--fc-primary-orange);
    background-color: var(--fc-white);
    padding-top: 74px;
    padding-bottom: 74px;
}

.paddingpy {
    padding-top: 60px;
    padding-bottom: 10px;
}

.paddingtopbottom {
    padding-top: 15px;
    padding-bottom: 60px;
}

/* =============================================Team Member===================================== */
.gustavo {
    color: var(--fc-regular-black);
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-mmd);
    font-weight: 500;
    line-height: 25px;
    text-align: center;
}

.designer {
    color: var(--fc-gray);
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-md);
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.imagecard {
    box-shadow: 0px 1px 10px 0px var(--fc-primary-orange);
    padding-bottom: 15px;
    overflow: hidden;
    transition: all 200ms linear;
    min-width: 270px;

}

.svgbackground {
    width: 40px;
    height: 40px;
    background-color: var(--fc-white);
    transition: 200ms linear;
    margin-bottom: 5px;
}

.svgbackground:hover {
    background-color: var(--fc-orange);
    box-shadow: 1px 7px 10px 0px var(--fc-red);
}

.svgbackground:hover svg path {
    fill: var(--fc-white);
}

.cardabsolute {
    position: absolute;
    top: 0;
    right: -40%;
    transform: translateY(25%);
    transition: all 300ms linear;
}

.imagecard:hover .cardabsolute {
    right: 0;
}

.curser-pointer {
    cursor: pointer;
}

.pb60 {
    padding-bottom: 60px;
}

/* =================================================our work============================================= */
.all {
    color: var(--fc-gray);
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-mmd);
    font-weight: 500;
    line-height: 25px;
    white-space: nowrap;
    cursor: pointer;
    transition: 200ms linear;
    padding-bottom: 60px;
}

.all:hover {
    color: var(--fc-orange);
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.paddingb {
    padding-bottom: 120px;
}

.work {
    color: var(--fc-white);
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-lg);
    font-weight: 500;
    line-height: 31px;
    padding-top: 25px;
}

.text {
    color: var(--fc-white);
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-md);
    font-weight: 400;
    line-height: 24px;
    padding-top: 18px;
    padding-bottom: 47px;
}

.absolutecard {
    box-shadow: 0px 1px 10px 0px var(--fc-primary-orange);
    background: var(--fc-regular-orange);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 200ms linear;
}

.cardimage:hover .absolutecard {
    opacity: 1;
}

.grid-box {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
}

.grid-item1 {
    grid-row: 1/2;
    grid-column: 1/2;
}

.grid-item2 {
    grid-row: 2/3;
    grid-column: 1/2;
}

.grid-item3 {
    grid-row: 3/4;
    grid-column: 1/2;
}

.grid-item4 {
    grid-row: 4/5;
    grid-column: 1/2;
}

.grid-item5 {
    grid-row: 5/6;
    grid-column: 1/2;
}

.grid-item6 {
    grid-row: 6/7;
    grid-column: 1/2;
}

/* ===================================slider-1===================================== */
.justin {
    color: var(--fc-white);
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-mmd);
    font-weight: 500;
    line-height: 31px;
}

.word {
    color: var(--fc-white);
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-md);
    font-weight: 400;
}

.slider-text {
    color: var(--fc-white);
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-sm);
    font-weight: 400;
    line-height: 24px;
}

.slider-box {
    background-color: var(--fc-orange);
    padding: 24px 25px 15px 44px;
}

.slider-list1 .slick-list .slick-track {
    display: flex;
    gap: 60px !important;
}

.pt60 {
    padding-top: 60px;
}

.sliderimage {
    position: absolute;
    top: 10px;
    left: -90px;
}

.sliderimage2 {
    position: absolute;
    top: 10px;
    left: -100px;
}

.slick-next {
    display: none !important;
}

.slick-prev {
    display: none !important;
}

/* ============================================slider-2======================================= */
.slidercard {
    box-shadow: 0px 1px 10px 0px var(--fc-primary-orange);
    padding: 11px;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 294px;
    height: 100%;
}

.GraphicDesign {
    color: var(--fc-orange);
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-md);
    font-weight: 400;
    line-height: 24px;
}

.cardcontent {
    color: var(--fc-black);
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-md);
    font-weight: 500;
    line-height: 31px;
    padding-top: 18px;
    padding-bottom: 28px;
}

.Cristofer {
    color: var(--fc-black);
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-md);
    font-weight: 500;
    line-height: 25px;
}

.jan {
    color: var(--fc-gray);
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-sm);
    font-weight: 400;
    line-height: 24px;
}

.slick-track {
    margin-bottom: 55px !important;
}

.slick-dots li button:before {
    transition: 300ms ease-in-out;
    width: 15px !important;
    height: 15px !important;
    content: "" !important;
    border-radius: 50%;
    background: var(--fc-gray);
    opacity: 1 !important;
}

.slick-dots li.slick-active button::before {
    color: transparent;
    background-color: var(--fc-black);
    border-radius: 10px;
    width: 45px !important;
    z-index: 2;
}

/* ==========================================contact us====================================== */
.contactcard {
    box-shadow: 0px 1px 10px 0px var(--fc-primary-orange);
    padding: 18px 24px;
    transition: 200ms linear;
}

.contactcard:hover {
    box-shadow: 5px 4px 20px 5px var(--fc-primary-orange);
}

.svgmail {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: var(--fc-orange);
    box-shadow: 4px 5px 15px 0px var(--fc-secondary-orange);
    transition: 200ms linear;
}

.contactcard:hover .svgmail {
    box-shadow: 0px 0px 20px 10px var(--fc-secondary-orange);
}

.drop {
    color: var(--fc-orange);
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-mmd);
    font-weight: 500;
    line-height: 31px;
}

.mail {
    color: var(--fc-black);
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-lg);
    font-weight: 600;
    line-height: 39px;
}

.support {
    color: var(--fc-gray);
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-md);
    font-weight: 500;
    line-height: 25px;
}

.toll {
    color: var(--fc-orange);
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-md);
    font-weight: 500;
    line-height: 25px;
}

.padding38 {
    padding-top: 38px;
}

.message {
    color: var(--fc-black);
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-lg);
    font-weight: 600;
    line-height: 39px;
}

.messageus {
    color: var(--fc-orange);
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-lg);
    font-weight: 600;
    line-height: 39px;
}

.name {
    color: var(--fc-gray);
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-md);
    font-weight: 400;
    line-height: 24px;
    outline: none;
    border: none;
    box-shadow: 0px 1px 10px 0px var(--fc-primary-orange);
    padding: 18px;
}

.resizernone {
    resize: none;
}

.btnsend {
    color: var(--fc-white);
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-mmd);
    font-weight: 500;
    line-height: 25px;
    padding: 13px 25px 12px 24px;
    border: none;
    background-color: var(--fc-orange);
    border-radius: 5px;
    box-shadow: 4px 5px 15px 0px var(--fc-secondary-orange);
    margin-top: 29px;
    transition: 200ms linear;
}

.btnsend:hover {
    box-shadow: 5px 8px 27px 10px var(--fc-secondary-orange);
}

/* =====================================footer============================================= */
.footercolor {
    background-color: var(--fc-black);
}

.footerlogo {
    color: var(--fc-orange);
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-xl);
    font-weight: 600;
    line-height: 48px;
}

.footerency {
    color: var(--fc-white);
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-xl);
    font-weight: 600;
    line-height: 48px;
}

.footercontent {
    color: var(--fc-white);
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-md);
    font-weight: 400;
    line-height: 24px;
    max-width: 263px;
}

.company {
    color: var(--fc-white);
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-xl);
    font-weight: 600;
    line-height: 48px;
}

.aboutus {
    color: var(--fc-white);
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-md);
    font-weight: 400;
    line-height: 24px;
}

.lorem {
    color: var(--fc-white);
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-md);
    font-weight: 400;
    line-height: 24px;
    max-width: 263px;
}

.infoborder {
    border: 1px solid var(--fc-orange);
}

.info {
    color: var(--fc-gray);
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-md);
    font-weight: 400;
    line-height: 24px;
    background: none;
    border: none;
    padding-left: 18px;
    outline: none;
}

.svgbg {
    padding: 18px 29px;
    background-color: var(--fc-orange);
    max-width: 81px;
}

.copyright {
    color: var(--fc-white);
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-md);
    font-weight: 400;
    line-height: 24px;
}

.copyrightbg {
    padding-top: 18px;
    padding-bottom: 18px;
    background-color: var(--fc-orange);
}

.topBtn {
    width: 58px;
    height: 58px;
    background: var(--fc-orange);
    border-radius: 50%;
    display: none;
    position: fixed;
    bottom: 5px;
    right: 8%;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms linear;
    z-index: 6;
}

.topBtn:hover {
    box-shadow: 5px 8px 27px 10px var(--fc-secondary-orange);
}

.topBtn.show {
    opacity: 1;
    visibility: visible;
}

@media(max-width:1199.98px) {
    .imagewidth {
        width: 100%;
    }
}

@media(max-width:991.98px) {
    .menulist {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        background-color: var(--fc-light-orange);
        top: 0;
        right: -100%;
        transition: all 300ms linear;
        z-index: 1;
    }

    .menuicon {
        width: 30px;
        height: 30px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        top: 0;
        right: 0;
        z-index: 2;
    }

    .menuicon>span {
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--fc-orange);
    }

    .menulist.show {
        right: 0;
    }

    .overflowhidden {
        overflow: hidden;
    }
}

@media(min-width:425px) {
    .slidercard {
        padding: 25px;
    }

    .sliderimage {
        left: -82px;
    }
}

@media(min-width:576px) {
    .slider-box {
        padding: 34px 35px 25px 64px;
    }

    .sliderimage {
        left: -100px;
    }

    .py120 {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .grid-item2 {
        grid-row: 1/3;
        grid-column: 2/3;
    }

    .grid-item3 {
        grid-row: 2/4;
        grid-column: 1/2;
    }

    .grid-item4 {
        grid-row: 3/5;
        grid-column: 2/3;
    }

    .grid-item5 {
        grid-row: 4/5;
        grid-column: 1/2;
    }

    .grid-item6 {
        grid-row: 5/6;
        grid-column: 1/3;
    }
}

@media(min-width:768px) {
    .paddingpy {
        padding-bottom: 83px;
    }

    .paddingtopbottom {
        padding-top: 83px;
    }
}

@media(min-width:992px) {
    .grid-item2 {
        grid-row: 1/3;
        grid-column: 2/3;
    }

    .grid-item3 {
        grid-row: 1/2;
        grid-column: 3/4;
    }

    .grid-item4 {
        grid-row: 2/4;
        grid-column: 1/2;
    }

    .grid-item5 {
        grid-row: 3/4;
        grid-column: 2/3;
    }

    .grid-item6 {
        grid-row: 2/4;
        grid-column: 3/4;
    }
}